.products {
    @apply text-gray-600;
}

.products__container {
    @apply container px-5 mx-auto;
}

.products__title {
    @apply text-5xl text-start;
}

.products__wrapper {
    @apply flex flex-wrap -m-4;
}

.productsLink {
    @apply lg:w-1/3 md:w-1/2 p-4 w-full relative
}