.products {
    @apply text-gray-600 my-20;
}

.products__container {
    @apply container px-5 mx-auto my-10;
}

.products__title {
    @apply text-5xl text-start;
}

.products__wrapper {
    @apply flex flex-wrap -m-4 gap-y-20;
}

.productsLink {
    @apply lg:w-1/3 md:w-1/2 p-4 w-full relative
}