.collection {
  @apply flex  max-w-screen-xl mx-auto px-4 mb-52 h-screen;
}

.col_grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-5;
}

.col_card {
  @apply flex flex-col items-center justify-center bg-transparent p-4;
}

.col_info {
  @apply text-center max-w-screen-sm;
}
.col_title {
  @apply font-bold mb-3;
}
.col_price {
  color: #a4a1a1;
}

.col_desc {
  @apply self-center flex flex-col  space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start;
}

.col_btn {
  @apply px-8 py-3 text-lg font-semibold border rounded dark:border-gray-500 sm:px-5 transition-all duration-300 hover:text-white hover:bg-black;
}
