.card {
    @apply lg:w-1/3 md:w-1/2 p-4 w-full relative gap-5;
}

.card__image_wrap {
    @apply block relative h-72 rounded overflow-hidden;
}

.card__image {
    @apply object-contain object-center w-full h-full block transition-transform transform-gpu duration-200 hover:scale-105;
}

.card__information {
    @apply mt-4;
}

.card__category {
    @apply text-gray-500 text-xs tracking-widest  mb-1;
}

.card__title {
    @apply text-gray-900 text-lg font-medium text-start;
}

.card__prices {
    @apply mt-1 font-bold text-xl text-black;
}

.card__button {
    @apply border border-black rounded-full bg-white hover:bg-gray-200
    transition-all duration-150 ease-in-out;
}
#button-auth{
    background-color: aliceblue;
}