.cart {
	max-width: 1280px;
	margin: 0 auto;
	&__wrap {
		margin-bottom: 42px;
		@apply pt-14 flex flex-col gap-y-16 sm:gap-x-28 sm:flex-row;
	}
	&__left,
	&__right {
		@apply flex-1;
	}
	&__right {
		input:not(input[type="checkbox"]) {
			outline: none;
			border: 1px solid #c8c6c6;
			margin-bottom: 17px;
			&::placeholder {
				color: #000;
				font-size: 14px;
			}
		}
	}
	&__item {
		@apply flex items-center gap-x-6 mb-6;
		&_name {
			font-size: 17px;
			@apply w-72;
		}
		&_actions {
			@apply flex flex-1 justify-end items-center gap-x-1;
		}
		&_btn {
			@apply py-1 px-3 border;
		}
	}
	&__total {
		border-bottom-width: 0.5px;
		@apply border-t  border-black flex items-center gap-x-2  py-7;
		&_inputCode {
			border-color: #c8c6c6;
			max-width: 338px;
			width: 100%;
			padding-left: 17px;
			&::placeholder {
				color: #000;
				font-size: 15px;
			}
			@apply py-3 border rounded-3xl font-bold;
		}
		&_btnApply {
			background-color: #5c6458;
			@apply rounded-3xl bg-stone-600	 py-3 px-5 text-white	font-bold;
		}
		&_intermediateTotal,
		&_allTotal {
			font-size: 17px;
			font-weight: 700;
		}
		&_allTotal {
			@apply flex justify-between pt-6;
		}
		&_intermediateTotal {
			font-size: 17px;
			font-weight: 700;
			@apply pt-7 pb-6 border-b border-black;
			> div {
				@apply flex justify-between first:mb-6;
			}
		}
	}
	&__contact {
		padding-bottom: 31px;
		&_input {
			margin-bottom: 8px !important;
			@apply w-full px-3 pt-4 pb-3 text-sm text-black placeholder-black;
		}
	}
	&__delivery_address {
	}
	&__input {
		padding: 14px 0;
		@apply w-full px-5;
	}
}
