.header {
  @apply fixed w-full bg-white z-50 -top-0 flex items-center justify-evenly border-b border-gray-400 py-5;
  @media screen and (max-width: 1024px) {
    margin-bottom: 0;
  }
  &__list {
    @apply hidden space-x-8 lg:flex;
  }

  &__mobile_list {
    @apply flex flex-col items-center justify-between min-h-[250px];
  }
}

.icon_center {
  @apply flex flex-col justify-center items-center;
  & svg {
    @apply mb-1;
  }
}

.list_text {
  @apply mb-10 text-xl;
}

.burger {
  @apply absolute top-0 right-0 px-8 py-8;
}

.icon__text {
  @apply text-sm;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  background: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.slidein {
  top: 0;
  transition: top 0.6s ease;
}
.slideout {
  top: -900px;
  transition: top 0.6s ease;
}

a {
  cursor: pointer;
}
