.features {
  @apply flex flex-col h-screen  max-w-screen-xl mx-auto px-4 mb-52;
}

.features_grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-5;
}

.features_card {
  @apply bg-transparent p-4;
}

.features_info {
  @apply text-left max-w-screen-sm;
}
.features_title {
  @apply font-bold mb-3;
}

.features_desc {
  @apply self-center flex flex-col  space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start;
}

.features_btn {
  @apply px-8 py-3 text-lg font-semibold border rounded dark:border-gray-500 sm:px-5 transition-all duration-300 hover:text-white hover:bg-black;
}
