@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
}

body {
  font-family: "Comfortaa", cursive;
}
#button-auth{
  padding: 10px 20px;
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  margin-top: 20px;
  width: 140px;
}

#snter-m{
  display: flex;
  justify-content: center;
}